body {
    margin: 0px;
    background-color: #505050;
    color: #c5c5c5;
    font-size: 14pt;
    font-family: "Lucida Sans", sans-serif;
}

h1 {
    font-family: "Palatino", sans-serif;
    font-weight: bold;
    font-size: 18pt;
    display: block;
}

h2 {
    font-family: "Palatino", sans-serif;
    font-size: 14pt;
    text-align: left;
    padding: 10px 10px;
    margin: auto;
    max-width: 60%;
    display: block;
}

h3 {
    max-width: 60%;
    margin: auto;
    padding: 5px 5px;
    text-align: left;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 14pt;
    display: block;
}

p {
    text-align: justify;
    padding-top: 6pt;
    padding-bottom: 6pt;
    line-height: 1.2;
    margin: auto;
    max-width: 60%;
}

main {
    padding-top: 10px;
    display: block;
    margin: auto;
    max-width: 960px;
    text-align: center;
}

a {
    color: #40d020;
}

ul {
    padding-top: 5px;
}

li {
    padding-bottom: 5px;
}

#top_nav {
    top: 0;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #303030;
    width: 100%;
    height: 30px;
}

#top_nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
#top_nav li {
  text-align: center;
  display: inline-block;
  height: 100%;
  background-color: #409000;
}
#top_nav li a {
  padding: 30px 15px;
  color: #e0e0e0;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 14pt;
  vertical-align: middle;
}

li#home_button:hover {
    background-color: #308000;
}
